@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  scrollbar-width: thin;
  scrollbar-color: rgb(14, 13, 9) rgb(58, 47, 17);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background: rgb(252, 201, 99);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(97, 95, 92);
  border-radius: 20px;
}



.flex-center{
@apply flex justify-center items-center
}

.flex-col-center{
  @apply flex  flex-col items-center justify-center
}

.Project-form-container {
  @apply fixed z-40 p-1 top-[7%] left-0 right-0 bottom-[10%] md:top-[15%]
   md:left-[15%] md:bottom-[20%] h-[90%] w-[100%]  md:h-[85%] md:w-[70%]  
   flex flex-col justify-center items-center border-2 border-slate-500 bg-slate-700;
}





.Project-item-detail-item {
  @apply w-[90%] flex flex-col text-base  md:justify-center md:m-1 md:p-1;
}

.Project-item-detail-freq {
  @apply w-full flex  text-base  justify-start md:m-1 md:p-1 ;
}

.label-style {
  @apply w-full font-bold text-sm flex items-center justify-start;
}

.Project-item-detail-status {
  @apply flex p-1 m-1 border-black border rounded-lg bg-slate-600 text-white text-sm;
}

.Project-form-error{
@apply text-sm text-red-500

}
